<h2>Welcome, <%= @user.username %></h2>
<div style='font-style:italic;'><%= @affirmation %></div>

<h3>Recent events</h3>
<ul>
  <% @user.user_events.last( 5 ).each do | event | %>
    <li><%= "You #{ event.description } on #{ event.created_at.in_time_zone("America/New_York").strftime( '%B %d, %Y at %H:%M:%S' ) }" %></li>
  <% end %>
</ul>