<h2>Welcome, <%= @user.username %></h2>
<p style='font-style:italic;'><%= @affirmation %></p>

<div class='recent-events'>
  <h3>Recent events</h3>
  <ul>
    <% @user.user_events.last( 5 ).reverse.each do | event | %>
      <% event_datetime = event.created_at.in_time_zone( 'America/New_York' ) %>
      <li>
        You <b><%= event.description %></b> on <%= "#{ event_datetime.strftime( '%B %-d, %Y' ) } at #{ event_datetime.strftime( '%l:%M%P' ).strip }" %>
      </li>
    <% end %>
  </ul>
</div>
