<div class="sidebar">
    <h3>Have you ever…</h3>
    <ul>
        <li>…felt that <b>there must be "something more to life," somehow?</b></li>
        <li>…heard from someone, personally or in the media, who has <b>benefited from having a psychedelic experience?</b></li>
        <li>…felt <b>curious about psychedelic drugs - but concerned about their legal/health risks?</b></li>
        <li>…felt <b>let down by "Big Therapy?"</b></li>
    </ul>
    <h3>Are you interested in…</h3>
    <ul>
        <li><b>…reducing stress?</b></li>
        <li><b>…improving focus?</b></li>
        <li><b>…increasing confidence?</b></li>
        <li><b>…kicking a bad habit?</b></li>
        <li><b>…conquering a fear/phobia?</b></li>
        <li><b>…improving your sleep?</b></li>
        <li><b>…increasing your motivation?</b></li>
        <li><b>…relieving grief?</b></li>
        <li><b>…enhancing creativity?</b></li>
        <li><b>…deepening your spirituality?</b></li>
    </ul>
</div>

<h2 style="text-align:center;"><u>YES</u>, you <u>CAN</u> have a psychedelic experience - <u>safely, legally, naturally</u>!</h2>

<button style="font-size:14pt;display:block;margin:0 auto;padding:1rem;">✆ Click here to schedule a FREE text-message consultation</button>

<p>Psychedelic energy is <b>a force in the universe:</b> it's everywhere, all around us, all the time. <b>You can capture this energy for yourself with hypnosis!</b> Using <b>easy, simple, safe techniques</b> known to scientists and doctors for centuries, you can <b>unlock the benefits of a psychedelic experience</b> - without <b>spending thousands of dollars</b> at a clinic or <b>risking criminal charges</b> on the street.</p>

<h3>What is hypnosis?</h3>
<p>Hypnosis is an <b>altered state of mind:</b> a kind of awareness and thought different from how we normally sense and think. Humans have sought and induced altered states since the dawn of time.</p>
<p>The most common effects of mild hypnosis are <b> focus, relaxation,</b> and <b>suggestibility:</b>
<ul>
    <li><b>Focus:</b> subjects report becoming so engrossed that it can seem like the world falls away or doesn't matter</li>
    <li><b>Relaxation:</b> subjects experience reduced inhibition, anxiety and mental/physical tension</li>
    <li><b>Suggestibility:</b> subjects are more open and receptive to commands and suggestions</li>
</ul>
</p>

<h3>What is a psychedelic experience? What are psychedelic drugs?</h3>
<p><b>Extremely deep states of hypnosis cause much more profound effects, including all of the above</b> as well as:</p>
<ul>
    <li><b>Sensory distortions</b> (of time, space, pain relief, heat/cold, and more)</li>
    <li><b>Intensified emotions</b> (feelings of contentment and well-being - or, conversely, intense fear, anxiety, or dread)</li>
    <li><b>Visual and auditory hallucinations</b> (sights or sounds that don't come from the real world)</li>
    <li><b>Enhanced spirituality</b> (a sense of connection with the divine, or "oneness" with something bigger than oneself)</li>
    <li><b>Consciousness expansion</b> (an awareness of parts of one's own mind not normally accessible)</li>
</ul>
<p>These are all also well-known side effects from consuming <b>psychedelic drugs</b> - drugs like LSD, DMT, mescaline and psilocybin - which work by acting on the body's receptors for <b>serotonin</b>, a powerful neurotransmitter. Serotonin is how our brains tell us, <b>"Yuck, get it out!"</b> (For example, we vomit when we eat something poisonous because of the serotonin receptors in our stomachs.)</p>
<p><b>The experience of hypnosis is, in fact, very much the same as the psychedelic experience,</b> and it's theorized that <b>serotonin may be responsible for both!</b> But more research is badly needed, and progress is slow because psychedelic drugs are illegal in most of the world (with only a very few exceptions).</p>
<a href="#top" class="top">↑ Back to Top</a>

<h3>What causes hypnosis and psychedelic experiences?</h3>
<p><b>We don't really know!</b> Hypnosis remains one of the <b>great unexplained unknowns of medical science.</b></p>
<p>The writer and hypnotist <a href="https://en.m.wikipedia.org/wiki/A._E._van_Vogt" target="_blank">A. E. van Vogt</a> compared our understanding of hypnosis today with the understanding of electricity at the turn of the 20<sup>th</sup> century - before the discovery of the electron. Back then, uses for electricity were being discovered every day, and the use of electricity was a profitable industry - even though it was impossible to define what it really was. Such is the case with hypnosis: <b>we don't know what it is, but we know what it does!</b></p>
<p>We haven't discovered the "hypnotic electron" yet - but we do know a variety of ways to reliably <b>induce</b> hypnosis. The techniques I use in my practice employ <b>guided control of breath, light and sound.</b> But, <b>hypnosis is such a powerful force, it can also be induced spontaneously,</b> during activities like…</p>
<span class="flex-row">
    <ul>
        <li>Exercise</li>
        <li>Yoga and meditation</li>
        <li>Religious worship</li>
        <li>Playing or listening to music</li>
        <li>Watching TV or playing video games</li>
    </ul>
    <ul>
        <li>Hunger/fasting</li>
        <li>Having a fever</li>
        <li>Sleeplessness</li>
        <li>Oxygen deprivation</li>
        <li>Long-distance driving</li>
    </ul>
</span>
<a href="#top" class="top">↑ Back to Top</a>

<h3>About your hypnotist</h3>
<p>I'm an experienced street hypnotist and a passionate advocate for <b>cognitive liberty.</b> My work is motivated by a deeply-held conviction: <b>every person on this planet is an immortal psychedelic being,</b> with <b>an inalienable right to experience hypnotic power - each on our own terms.</b></p>
<p>My practice <b>rejects the endless victimhood of Big Therapy!</b> Psychedelic Hypnosis replaces that with a more compassionate and spiritual theoretical framework: <b>empowering, strengthening, and liberating - not medicalizing!</b></p>
<a href="#top" class="top">↑ Back to Top</a>

<h2 style="text-align:center;">Serving the Five Boroughs and Bergen, Essex, Hudson, Nassau & Westchester Counties</h2>

<button style="font-size:14pt;display:block;margin:0 auto;padding:1rem;">✆ Click here to schedule a FREE text-message consultation</button>
