<h1>Privacy policy</h1>

<p>Psychedelic Hypnosis takes privacy seriously. Both clients and members of the public can expect industry-standard security and confidentiality when using this website. Review the Psychedelic Hypnosis Online Privacy Statement ("Privacy Statement") at any time by clicking the "Privacy policy" link at the bottom of the page.</p>

<ul class="privacy-policy">

  <li><b>General:</b> This website doesn't collect personal information from anyone who just visits or browses. Personal information may be collected if you request a consultation, purchase credit for hypnosis sessions from an affiliated hypnotist, or in other instances when you input information into our site.</li>
 
  <li><b>Inquiries:</b> Psychedelic Hypnosis invites site visitors to send messages to a consulting hypnotist, copies of which are retained. The information thus exchanged and retained is only used to respond to visitor inquiries and provide quality service.</li>

  <li><b>SMS consent:</b> By sending an inquiry to 833-78-HYPNO, you consent to receiving followup messages from a live consulting hypnotist. Additionally, by scheduling appointments, you consent to receiving personalized automated notifications, include appointment reminders and account alerts. Psychedelic Hypnosis will never send you any spam/advertising/offers via SMS. Message frequency varies and message/data rates may apply. You may at any time reply STOP to opt out or reply HELP for more information.</li>
 
  <li><b>Use of cookies:</b> Web cookies are small pieces of data saved on a user's device as the user browses. We use cookies only to store client login information; these cookies are securely encrypted and get destroyed upon logout. This website does not use cookies at all for tracking or advertising purposes in any way.</li>

  <li><b>Other sites and services:</b> This website may contain links to external websites not under the direction or control of Psychedelic Hypnosis. We are not responsible for these websites and do not control how they use personal information, cookies or other data; their content and representations do not apply to this website and vice versa.</li>

  <li><b>Questions:</b> Visitors with specific questions about information sent through this website should send an SMS message.</li>
 
  <li><b>Changes:</b> Psychedelic Hypnosis reserves the right to change this privacy statement at any time. Changes/updates become effective immediately upon posting to this website. The effective date of this privacy statement, as stated below, indicates the last time this statement was materially changed. Check the effective date below to determine whether such changes have been made since the last time you reviewed the privacy statement. This privacy policy does not supersede any other terms/conditions governing your use of this website. Any conflict between the two shall be determined in favor of such terms/conditions.</li>

  <li><b>Effective date:</b> This online privacy statement was last modified on September 18, 2024.</li>

</ul>

<p></p>
