<h1>Hypnotist Availability: <%= @hypnotist.full_name %></h1>

<%= week_calendar do | date | %>
  <% @availability.each do | slot | %>
    <div><%= slot.strftime( '%-I%P' ) if slot.to_date == date %></div>
  <% end %>
<% end %>