<h1>Hypnotist Availability: <%= @hypnotist.full_name %></h1>

<%= week_calendar do | date | %>
  <% @availability.each do | block | %>
    <% if block.begin.to_date == date %>
      <div><%= "#{ block.begin.strftime( '%-I%P' ) } - #{ block.end.strftime( '%-I%P' ) }" %></div>
    <% end %>
  <% end %>
<% end %>
