/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  font-family: sans-serif;
}

small {
  font-size: small;
}

.flex-row {
  display: flex;
  flex-flow: row nowrap;
}

#logo {
  font-style: italic;
  margin: 0 0 0.5em;

  strong {
    font-size: 18pt;
  }
}

#navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: solid;
  margin-bottom: 1em;
}

.sidebar {
  display: block;
  float: right;
  width: 33vw;
  background-color: #ddd;
  border-radius: 1em;
  padding: 0 1em;
  margin: 0 0 1em 1em;
}

/* #content {
} */

#footer {
  margin: 0 auto;
  padding: 1em;
  background-color: white;
  text-align: center;
}

#disclaimer {
  border: 0.5px solid;
  margin: 0 auto;
  padding: 5px;
  font-size: 11px;
  font-style: italic;
}

.top {
  font-size: small;
  font-style: italic;
}

ol li:not(:last-child) {
  padding-bottom: 1rem;
}

.big-button button {
  display: block;
  margin: 0 auto;
  padding: 1rem;
  font-size: 14pt;
}

.big-button figcaption {
  display: block;
  font-size: 11px;
  text-align: center;
}

[role="alert"] {
  padding: 5px;
  font-weight: bold;
  color: #c00;
  border: 1px solid #c00;
  border-radius: 5px;
  width: auto;
}

[role="alert"] li:not(:last-child) {
  padding-bottom: 1rem;
}

.consent {
  display: flex;
  flex-flow: row nowrap;
  background-color: #ddd;
  border-radius: 1em;
  padding: 1em;
}

.sign-release-form {
  display: flex;
  flex-flow: row wrap;
}

.privacy-policy li:not(:last-child) {
  padding-bottom: 1em;
}

@media screen and ( max-width: 800px ) {

  #navbar {
    flex-flow: column nowrap;
  }

  #login-status {
    margin-bottom: 1em;
  }

  .sidebar {
    display: block;
    float: unset;
    width: auto;
    padding: 1em;
    margin: 0 auto;
    margin-bottom: 1em;
  }

}