<footer id="footer">
    <div>&copy;<%= Time.now.strftime( "%Y" ) %> Psychedelic Hypnosis</div>
    <% unless request.fullpath.match?( 'privacy' ) %>
        <div>By browsing this website you consent to the use of cookies <%= link_to '(see privacy policy)', privacy_path %></div>
    <% end %>
    
    <br />
    <div id="disclaimer"><a name="disclaimer"><b>* Disclaimer:</b></a> 1) These statements have not been evaluated by the FDA, and should not be considered medical advice, diagnosis, or treatment, or a substitute thereof. Consult a physician or other licensed healthcare provider in all matters relating to your health, particularly in respect to any symptoms that may require diagnosis or medical attention. Content on this website is provided for informational and entertainment purposes only. 2) Results may vary. The effects of hypnosis depend on an individual's personality, skill, and commitment level, among other factors. No individual results should be considered typical. 3) It is a criminal offense in the US and many other countries, punishable by imprisonment and/or fines, to manufacture, possess, or supply most psychedelic drugs, including LSD, DMT, mescaline, and psilocybin, except in connection with government-sanctioned research. No attempt should be made by anyone to use prohibited/scheduled substances for any reason/purpose except in a legally sanctioned clinical trial. Psychedelic Hypnosis is a network of hypnosis professionals offering hypnosis services only. Nothing about Psychedelic Hypnosis or this website should be construed as encouragement or incitement to the use of any substance or drug.</div>
</footer>